<ion-header>
  <ion-toolbar color="tlbr">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>New Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1" class="ion-margin">
        <ion-item>
          <ion-label position="floating">Name: </ion-label>
          <ion-input formControlName="newTitle" type="text" placeholder="..."></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1" class="ion-margin">
        <ion-item>
          <ion-label position="floating">Image (Optional): </ion-label>
          <ion-input formControlName="newImg" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1" class="ion-margin">
        <ion-item class="picker">
          <ion-label position="floating">Image (Optional): </ion-label>
          <ion-img role="button" class="image" (click)="onPickImage()" [src]="selectedImage" *ngIf="selectedImage"></ion-img>
          <ion-button color="tlbr" (click)="onPickImage()" *ngIf="!selectedImage">
            <ion-icon name="camera" slot="start"></ion-icon>
          <ion-label>Take Picture</ion-label>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row  formArrayName=ingrList>
      <ion-col size="10" offset="1" class="ion-margin">
        <ion-list *ngFor="let ingr of arrForm.controls; index as i">
          <ion-item>
            <ion-label class="ion-margin-right" position="floating">Ingredient: </ion-label>
            <ion-input class="ion-margin-right" formControlName="{{i}}" type="text" placeholder="Enter Ingredient: "></ion-input>
            <ion-buttons slot="end">
              <ion-icon *ngIf="i>=1" size="large" name="trash-bin-outline" color="danger" (click)="onRemoveIngr(i)"></ion-icon>
              <div class="ion-padding-horizontal"> </div>
              <ion-icon name="add-circle-outline" size="large" color="secondary" (click) = "onAddIngr()"></ion-icon>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1" class="ion-margin">
        <ion-item>
          <ion-label position="floating">Instructions: </ion-label>
          <ion-textarea formControlName="newInstr" placeholder="..." [autoGrow]="true"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1" class="ion-margin" (click)="onSubmitRecipe()">
        <ion-button expand="block" [disabled]="!form.valid" type="submit" color="tlbr">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
