<ion-header>
  <ion-toolbar color="tlbr">
    <ion-buttons slot="start">
      <ion-icon (click)="onLogout()" size="large" name="log-out-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">Recipes</ion-title>
    <ion-buttons slot="end">
      <ion-icon size="large" name="add-outline" [routerLink]="['/recipes/new-recipe']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-text-center" *ngIf="!isLoading && recipes.length <=0">
    <p>You don't have any recipes.</p>
    <ion-button color="tlbr" routerLink = '/recipes/new-recipe'>
      START NOW
    </ion-button>
  </div>

  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <cdk-virtual-scroll-viewport  *ngIf="!isLoading && recipes.length > 0" itemSize="64" minBufferPx="900" maxBufferPx="1350">
    <ion-item *cdkVirtualFor="let recipe of recipes"
    [routerLink]="['/recipes', recipe.id]"
     detail>
      <ion-thumbnail slot="start">
        <ion-img [src]="recipe.imageUrl" alt='' ></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{recipe.title}}
      </ion-label>
    </ion-item>
  </cdk-virtual-scroll-viewport>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink = '/discover' fill="outline" shape="round" color="tertiary" font="bold">
        <ion-icon name="search"></ion-icon>
        <ion-label>
          Discover
        </ion-label>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-footer>
